body {
    height: 100%;
  
  
 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
   
    background-color: #534e4e;

  
    font-family: 'Roboto Slab', Courier, monospace;
       
    background: url( '797.jpg') no-repeat;
    background-size: cover; 
    width: 100%;  
    background-repeat: no-repeat;
    background-position: center center;
   
    
  }
  
  .container-contact100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(25, 25, 26, 0.7);
  }
  



  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
  }
  
.formss{

        top:0vh;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px rgb(24, 27, 27);
      
        opacity: 0.8;
       

      }

   
   
  